{
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "semi": true,
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@virtualmetric-frontend/virtualmetric-ui$",
    "^@virtualmetric-frontend/virtualmetric-types$",
    "^@virtualmetric-frontend/virtualmetric-dashboard/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
